.container {
  /* width: 700px; */
  width: 300px;
  height: 500px;
  background-color: #333;
  margin: 0 auto;

  display: flex;
  /* 부모 요소에 flex를 선언하면, 아이템(자식)이 가로 방량으로 배치 */

  /* 
    * flexBox 기본 용어
    * 주축 (Main Axis)
    * 교차축 (Cross Axis) 
  */

  /* 
    flex-direction 
      - row
      - row reverse
      - coulum
      - colum-reverse 
  */

  /* row */
  flex-direction: row;
  /* flex-direction: row-reverse; */
  /* flex-direction: column; */
  /* flex-direction: column-reverse; */

  /* 
    justify-content 
    
    - flex-start
    - flex-end
    - center
    - space-between
    - space-around
    - space-evenly
   */

  /* justify-content: flex-start; */
  /* justify-content: flex-end; */
  /* justify-content: center; */
  /* justify-content: space-between; */
  /* justify-content: space-around; */
  /* justify-content: space-evenly; */

  /*
    align-items : 교차축
  */

  /* align-items: stretch;
  align-items: flex-start;
  align-items: flex-end;
  align-items: center;
  align-items: baseline; */

  /* 
    flex-wrap
    
    - nowrap
    - wrap
    - wrap-reverse : 줄바꿈 하는데 아이템을 역군 배치
  */

  /* flex-wrap: nowrap;*/
  flex-wrap: wrap;
  /* flex-wrap: wrap-reverse; */

  /* 
    align-content

    flex-wrap : wrap / wrap-reverse 상태에서 아이템이 두 줄 이상일때 교차축 방향 설정함.

    - stretch
    - flex-start;
    - flex-end
    - center
    - baseline
  */

  /* align-content: stretch; */
  /* align-content: flex-start; */
  /* align-content: flex-end; */
  /* align-content: center; */
  align-content: baseline;
}

.items {
  width: 100px;
  height: 100px;
  font-weight: 700;
  text-align: center;
  line-height: 100px;
}

.item1 {
  background-color: red;
  font-size: 10px;
}
.item2 {
  background-color: orange;
  font-size: 15px;
}
.item3 {
  background-color: yellow;
  font-size: 20px;
}
.item4 {
  background-color: green;
  font-size: 25px;
}
.item5 {
  background-color: blue;
  font-size: 30px;
}
