.container {
  display: flex;
  flex-direction: column;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  background: aqua;
  border: 1px solid black;
  text-align: center;
  margin: 5px;
  line-height: 100px;
}

.flex1 {
  background-color: orange;
  display: flex;
  justify-content: flex-end;
}

.flex2 {
  background-color: yellow;
  display: flex;
  justify-content: space-around;
}

.flex2-1 {
  display: flex;
}

.flex2-2 {
  display: flex;
  align-items: center;
}

.flex2-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex2-4 {
  display: flex;
  align-items: flex-end;
}

.flex3 {
  background-color: green;
  display: flex;
}

.fl3-1 {
  background: blue;
  flex-grow: 1;
}
.fl3-2 {
  background-color: rgb(18, 18, 125);
  flex-grow: 2;
}
.fl3-3 {
  background: blueviolet;
  flex-grow: 3;
}
