* {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

html,
body {
  width: 100vw;
  height: 100vh;
  background-color: bisque;
}

p {
  position: absolute;
  top: 0;
  left: 100vw;
  animation-name: damon;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes damon {
  0% {
    left: 100vw;
  }

  100% {
    left: 0;
  }
}
