* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100vw;
  height: 100vh;
  background-color: bisque;
}

.container {
  background-color: bisque;
}
.cicle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: brown;
  position: absolute;

  animation-name: damon;
  animation-duration: 5s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
}

@keyframes damon {
  0% {
    left: 0;
    top: 0;
  }

  25% {
    left: calc(100% - 200px); /* Adjust for circle size */
    top: 0;
  }

  50% {
    left: calc(100% - 200px); /* Adjust for circle size */
    top: calc(100% - 200px); /* Adjust for circle size */
  }

  75% {
    left: 0;
    top: calc(100% - 200px); /* Adjust for circle size */
  }

  100% {
    left: 0;
    top: 0;
  }
}
