* {
  width: 100vw;
  height: 100vh;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.div1,
.div2,
.div3 {
  width: 400px;
  height: 200px;
  transform: skew(3deg, 35deg);
}

.div1:hover,
.div2:hover,
.div3:hover {
  transform: skew(0deg, 0deg);
  transition: transform 1s;
  z-index: 999;
}

.img1 {
  width: 400px;
  height: 200px;
}
.img2 {
  width: 400px;
  height: 200px;
}
.img3 {
  width: 400px;
  height: 200px;
}
